* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --active-color: #fff700;
  --inactive-color: #000;
  --bg-color: #F5F5F5;
}

/* Ultility classes */

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-color {
  color: var(--inactive-color);
}

.yellow-color {
  color: var(--active-color);
}

.bg-color {
  color: var(--bg-color);
}

body {
  background-color: var(--bg-color);
}